<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>I Like Lunch</h1>
    <h2>Welcome to I Like Lunch.<br> A space for you to share the lunches you like, and find a likable lunch to suit your budget.</h2>
    <h3>Eaten lunch? Tell us about it <a href="/submitlunch">here</a><br>
      Need to buy lunch on a budget? Use our <a href="/money">budget filter</a> to find the best lunch bargains.
      <br> You can also peruse the full list of <a href="/lunch">lunch recommendations</a></h3>
  </body>
</html>
