<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='//fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
    <header>
    <h1>We Like Lunch</h1>
    </header>
    <article>
    <p>Welcome to We Like Lunch.<br> A space for you to share the lunches you like,<br> or find a likable lunch to suit your budget.</p>
    <p>Eaten lunch? <br>Tell us about it <a href="/submitlunch">here</a><br><br>
      Need to buy lunch on a budget? <br>Use our <a href="/money">budget filter</a> to find the best lunch bargains.
      <br><br> You can also peruse our full list of <a href="/lunch">lunch recommendations</a></p>
    </article>
  </body>
</html>
