<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <article>
    <h1>I Like Lunch</h1>
    <p>Welcome to I Like Lunch.<br> A space for you to share the lunches you like,<br> and find a likable lunch to suit your budget.</p>
    <p>Eaten lunch? <br>Tell us about it <a href="/submitlunch">here</a><br><br>
      Need to buy lunch on a budget? <br>Use our <a href="/money">budget filter</a> to find the best lunch bargains.
      <br><br> You can also peruse the full list of <a href="/lunch">lunch recommendations</a></p>
    </article>
  </body>
</html>
