<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Details</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Individual Lunch Details</h1><br>
    The lunch that was submitted was {{food}}<br>
    The cost was {{cost}} dollars<br>
    The lunch was rated {{rating}}<br>
    You can get this food from {{location}}<br>
  </body>
</html>
