<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Details</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='//fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
    <article>
    <h1>How about a {{food}} for lunch?</h1>
    <p>
    It will cost you {{cost}} dollars.<br>
    Other eaters rated it as {{rating}}.<br>
    You can get it from {{location}}.<br>
    </p>
    </article>
  </body>
  <footer>
    Back to the lunch <a href="/lunch">list</a><br>
    Take me <a href="/home">home</a>
  </footer>
</html>
