<!DOCTYPE html>
<html>
  <head>
    <title>Tell us your tasty lunch</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
   <h1> List of lunches that we've liked </h1>

    {{#each lunch}}
    <a href='/lunch/{{id}}' >{{food}}</a><br>
    {{/each}}
  </body>
  <footer>
    Take me <a href="/home">home</a>
  </footer>
</html>
