<!DOCTYPE html>
<html>
  <head>
    <title>Tell us your tasty lunch</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
   <h1> Lunch submit results </h1>

    {{#each lunch}} 
    <p>{{food}}</p>
    {{/each}}

  </body>
</html>
