<!DOCTYPE html>
<html>
  <head>
    <title>Budget Filter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Budget filter</h1>
    <h2> How much do you want to spend today? </h2>
    <form action = '/money' method = 'post'>
      Select an amount in whole dollars (between $1 and $30)<br>
      $<input type="number" name="quantity" min="1" max="30">
      <input type="submit">
  </body>
</html>
