<!DOCTYPE html>
<html>
  <head>
    <title>Budget Filter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='//fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
    <article>
    <h1> How much do you want to spend today? </h1>

    <form action = '/money' method = 'post'>
     Select an amount in whole dollars (between $2 and $30)<br><br>
      $<input type="number" name="quantity" min="2" max="30">
      <br><br>
      <button type="submit">Submit</button>

    </article>
  </body>
  <footer>
    Take me <a href="/home">home</a>
  </footer>
</html>
