<!DOCTYPE html>
<html>
  <head>
    <title>Submit your tasty lunch</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  <h1>Let us in on your lunch!</h1>
  <form action = '/lunch' method = 'post'>
      <input type = 'text' name = 'food' placeholder='What did you eat?'><br><br>
      <input type = 'text' name = 'cost' placeholder='What was the cost?'><br><br>
      <input type = 'text' name = 'rating' placeholder='How would you rate it?'><br><br>
      <input type = 'text' name = 'location' placeholder='Where did you buy it?'><br><br>
      <button type="submit">Submit</button>
  </body>
  <footer>
    Take me <a href="/home">home</a>
  </footer>
</html>
