<!DOCTYPE html>
<html>
  <head>
    <title>Submit your tasty lunch</title>
  </head>
  <body>
  <h1>Lunch time!</h1>
  <form action = '/form' method = 'post'>
      <input type = 'text' name = 'food' placeholder='What did you eat?'>
      <input type = 'text' name = 'cost' placeholder='What was the cost?'>
      <input type = 'text' name = 'tasty' placeholder='Was it tasty?'>
      <input type = 'text' name = 'location' placeholder='Where did you buy it?'>
      <button type="submit">Submit</button>
  </body>
</html>
