<!DOCTYPE html>
<html>
  <head>
    <title>Submit your tasty lunch</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='//fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
  <div id = 'pageContainer'>
    <h1>Let us in on your lunch!</h1>
    <form action = '/lunch' method = 'post'>
       What did you eat?<br>
      <input type = 'text' name = 'food' placeholder='e.g. Cheeseburger'><br><br>
       How much did it cost?
      <input type = 'text' name = 'cost' placeholder='Enter a price between $2 and $30'><br><br>
       How would you rate it?
      <input type = 'text' name = 'rating' placeholder='e.g. "7/10", "Finger licking good" or "Overpriced rubbish" '><br><br>
      Where did you buy it from?
      <input type = 'text' name = 'location' placeholder='e.g. Fidels, Cuba St'><br><br>
      <button type="submit">Submit</button>
    </div>

  </body>
  <footer>
    Take me <a href="/home">home</a>
  </footer>
</html>
